<ion-header>
  <ion-toolbar>
    <ion-title>Edit item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup] = "itemForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label type="text" position="floating">Name</ion-label>
            <ion-input  formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label type="number" position="floating">Price</ion-label>
            <ion-input  formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block"(click)="updateItem()">UPDATE</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" (click)="dismiss()">CANCEL</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
