<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Items</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-list>
  
      <ion-item-sliding *ngFor= "let item of availableItems">
        <ion-item>
          <ion-label>
            <h2> {{ item?.name }}</h2>
            <p>{{ item?.status }}</p>
          </ion-label>
          <ion-note slot="end">
            {{ item?.price | currency}}
          </ion-note>
        </ion-item>
    
        <ion-item-options side="start">
          <ion-item-option (click)="EditModal(item?.id)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
          <ion-item-option color="secondary" (click) = "statusItem(item)">
            <ion-icon slot="icon-only" name="eye-off"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    
        <ion-item-options side="end">
          <ion-item-option color="danger" (click) = "deleteItem(item.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    

    </ion-list>


  </div>


</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="CreateModal()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
