<ion-header>
  <ion-toolbar>
    <ion-icon class="padding" size="large" name="arrow-back-outline" (click)="dismiss()"></ion-icon>
    <ion-title>Sale ${{ subtotal }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>producto</ion-label>
    <ion-note slot="end">
      precio
    </ion-note>
</ion-item>

  <ion-item>
    <ion-label>
      <h2>Subtotal</h2>
    </ion-label>
    <ion-note slot="end" color="secondary">
      {{ subtotal | currency }}
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Tax (9.75%)</h2>
    </ion-label>
    <ion-note slot="end" color="secondary">
      ${{ tax | number:'1.2-2' }}
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2 class="texto">Total</h2>
    </ion-label>
    <ion-note slot="end" color="primary">
      {{ total | currency }}
    </ion-note>
  </ion-item>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar>
    <ion-button color="primary" expand="block" fill="solid" (click)="showTip()">CONFIRM & PAY</ion-button>
  </ion-toolbar>
</ion-footer>