<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Checkout</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-button expand="block">Charge $0.00</ion-button>
    </ion-toolbar>
  </ion-header>

  <div id="container"  class="padding">

    <ion-segment  (ionChange)="segmentChanged($event)" [(ngModel)]="status">
      <ion-segment-button value="numbers">
        <ion-icon name="keypad"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="products">
        <ion-icon name="cart"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div  [ngSwitch]="status">
    <div *ngSwitchCase="'numbers'">
      <p class="texto">$0.00</p>



        <ion-row>
          <ion-col>
            <ion-button size="large" expand="full">1</ion-button>
          </ion-col>
          <ion-col>
            <ion-button  size="large" expand="full">2</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" expand="full">3</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button size="large" expand="full">4</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" expand="full">5</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" expand="full">6</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button size="large" expand="full">7</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" expand="full">8</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" expand="full">9</ion-button>
          </ion-col>
        </ion-row>

      <ion-row>
          <ion-col>
            <ion-button size="large" expand="full">c</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" expand="full">0</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" expand="full">+</ion-button>
          </ion-col>
        </ion-row>



    </div>


    <ion-list *ngSwitchCase="'products'">

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Pollo</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Pastel</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Taza</ion-label>
      </ion-item>

    </ion-list>




  </div>

  
</ion-content>

<ion-footer no-shadow>
  <ion-button expand="block" fill="outline">CLEAR ITEMS</ion-button>
</ion-footer>