<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Checkout</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-button [class.button-disabled]="subtotal === '0'" disabled color="primary" expand="block" (click)="showCharge()">Charge {{ subtotal| currency }}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container"  class="padding">

    <ion-segment  (ionChange)="segmentChanged($event)" [(ngModel)]="status">
      <ion-segment-button value="numbers">
        <ion-icon name="keypad"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="products">
        <ion-icon name="cart"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div  [ngSwitch]="status">
    <div *ngSwitchCase="'numbers'">

      <ion-text>
        <h1  text-right class="texto">{{balance| currency}}</h1>
      </ion-text>



      <ion-row *ngFor="let numGroup of Numbers">
        <ion-col *ngFor="let number of numGroup" >
          <ion-button size="large" expand="full" (click)="Boton(number)">{{ number }}</ion-button>
        </ion-col>
      </ion-row>



    </div>


    <ion-list *ngSwitchCase="'products'">
      <ion-item *ngFor= "let item of availableItems">

          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>{{ item?.name }}</ion-label>
          <ion-note slot="end">
            {{ item?.price | currency}}
          </ion-note>
      </ion-item>

    </ion-list>
  </div>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar>
    <ion-button expand="block" fill="outline" (click)="clearEverything()">CLEAR ITEMS</ion-button>
  </ion-toolbar>
</ion-footer>